@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: auto; /* Hide scroll bars */
    background-color: rgb(19, 20, 26);
    font-family: 'Inter', sans-serif;
    width: 100%;
}

.header {
    width: 100%;
    height: 100vh;
}

a {
    text-decoration: none;
    color: white;
}

.nav {
    width: 80px;
    height: 100%;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    transition: width 0.8s;
    z-index: 3;
    color: white;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
}

.nav::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.nav-links {
    list-style: none;
    padding: 0 15px;
    margin-top: 120px;
}

ul li {
    padding: 20px 0px;
    opacity: 0.7;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li p {
    white-space: nowrap;
    display: none;
    font-size: 12px;
    margin-left: 15px;
}

.imglogo1 {
    width: 90px;
    position: fixed;
    height: 150px;
    position: absolute;
    z-index: 4;
    padding-top: 40px;
}

.nav:hover {
    width: 500px;
    opacity: 1;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.nav:hover ul li p {
    display: block;
    fill: white;
    font-weight: bolder;
    font-size: 17px;
}

.nav:hover ul li {
    justify-content: flex-start;
    fill: white;
}

svg {
    transition: 1s;
    width: 20px;
    margin-bottom: -5px;
}

.nav-link:hover {
    opacity: 1;
    transform: scale(1.1);
    margin-left: 30px;
    fill: white;
}

svg:hover {
    fill: white;
}
.search{
    width: 88%;
    height: 10%;;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #e1e6f01e;
    margin-left: 10%;
    margin-bottom: 2rem;
    margin-top: 30px;
    border-radius: 10px;

}
.search svg{
    width: 30px;
    color: #e1e6f0c2;
    margin-right: 10px;
    margin-left: 15px;
    
}
.search input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    
}
::placeholder {
    font-size: 16px;
    color: #888;
  }




.midsec{
    width: 100%;
    height: 38%;
    z-index: 1;
    padding-left: 4.5rem;
    z-index: 1;
    margin-bottom: 30px;
     
    
}

  .carousel-cell {
    width: 12%;
    height: auto;
    margin-right: 20px;
    display: flex;
    border-radius: 5px;
    counter-increment: carousel-cell;
    border-radius: 5px;
    justify-content: space-between;
   

  }
  .midsec .carousel-cell .gridpic{
    width: 100%;
    height: auto;
    display: flex;
    object-fit: cover;
    z-index: 1;
  }
.gridpic img{
   
        width: 100%;
        height: 100%;
        object-fit: cover;
    
  }
  .imglogo1{
  
    width: 90px;
    position: fixed;
    height: 150px;
    position: absolute;
    z-index: 4;
    padding-top: 40px;

    
}
  .gridpic{
  position: relative;
  min-width: 150px;
  width: 150px;
  height: 200;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px;
  transition: 0.5s;
  }
  .gridpic:hover {
    transform: scale(1.1);
  }
  
  .gridpic:hover .card-body {
    opacity: 1;
  }
  .flickity-button {
    background: transparent;
    box-shadow: 10px 100px 100px 50px rgba(8, 8, 8, 0.925);
    opacity: 0;
    transition: 0.5s;
  }
  .flickity-button:hover{
    opacity: 1;

  }
  /* big previous & next buttons */
  .flickity-prev-next-button {
    width: 100px;
    height: 100px;
  }
  /* icon color */
  .flickity-button-icon {
    fill: white;
  }
  /* hide disabled button */
  .flickity-button:disabled {
    display: none;
  }

   .card-body {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(70, 67, 67, 0.505), #4c4c4e8f 70%);
    padding: 10px;
    transition: 0.5s;

  }
  .name {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 60%;
  }
  .des {
    color: #fff;
    opacity: 0.8;
    margin: 5px 0;
    font-weight: 500;
    font-size: 12px;
  }
  .watchlist-btn {
    position: relative;
    width: 100%;
    text-transform: capitalize;
    background: none;
    border: none;
    font-weight: 500;
    text-align: right;
    color: rgba(255, 255, 255, 0.692);
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px 5px;
    transition: 0.4s;
    
  }
  .watchlist-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    height: 35px;
    width: 35px;
    background-image: url(images/add.png);
    background-size: cover;
    transform: scale(0.4);
  }
  
  .watchlist-btn:hover {
    color: #fff;
    transform: scale(1);
    background: rgba(255, 255, 255, 0.499);
  } 
  .carousel-cell:hover video { 
    display: inline-block;
}

.carousel-cell video {
    display: none;
}

.carousel-cell .gridpic {
    position: relative;
}

.carousel-cell .vidoeo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.vidoeo source{
    object-fit: cover;
    overflow: hidden;
}

.carousel-cell .vidoeo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    display: flex;
    justify-content:space-between;
    margin-top: 80px;
    padding-top: 40px;
    margin-right: 80px;
    color: white;
    line-height: 40px;
    padding-left: 100px;
    flex-wrap: nowrap;
    
}

.content {
    margin-bottom: 20px;
    
}

.contain {
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: gray;
}

.content h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 600;
    cursor: default;
}

.content a {
    font-size: 15px;
    font-weight: bolder;
    text-decoration: none;
    color: gray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content p {
    color: gray;
    cursor: default;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.heading {
    width: 100%;
    height: 40px;
    color: white;
    padding-left: 40px;
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: 500;
    
}


 


.myapps .imgs1 {
    height: 35px;
}




@media screen and (max-width: 768px) {
    .midsec {
        padding-left: 2rem; 
    }
    
    .carousel-cell {
        width: 20%; 
    }

    .gridpic {
        width: 120px; 
        height: 160px; 
        margin-right: 10px; 
    }

    .name {
        font-size: 12px; 
    }

    .des {
        font-size: 10px; 
    }
}


@media screen and (max-width: 480px) {
    .midsec {
        padding-left: 1rem; /
    }
    
    .carousel-cell {
        width: 30%; 
    }

    .gridpic {
        width: 100px;
        height: 140px; 
        margin-right: 5px; 
    }

    .name {
        font-size: 10px;
    }

    .des {
        font-size: 8px; 
}
}
@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    #con{
        margin-left: 8rem;
    }

    .content {
        width: 100%;
    }

    .heading {
        text-align: center; 
    }

   
    .myapps {
        width: 100%; 
    }
}


@media screen and (max-width: 480px) {
    #con{
        margin-left: 8rem;
    }

    
}



@media only screen and (max-width: 768px) {
    .nav {
        width: 60px;
    }
    #con{
        margin-left: 8rem;
    }

}

@media only screen and (max-width: 1024px) {
    .carousel-cell {
        width: 20%; 
    }
    #con{
        margin-left: 8rem;
    }

}

@media only screen and (max-width: 768px) {
    .carousel-cell {
        width: 30%; 
    }
    #con{
        margin-left: 8rem;
    }

}

@media only screen and (max-width: 480px) {
    .carousel-cell {
        width: 40%; 
    }

    .nav {
        width: 40px; 
    }
    #con{
        margin-left: 8rem;
    }


    .heading {
        font-size: 16px; 
    }
}



@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 20px;
    }

    .content {
        width: 100%;
    }

    .heading {
        text-align: center; 
    }

   
    .myapps {
        width: 100%; 
    }
}


@media screen and (max-width: 480px) {
    
}


@media only screen and (max-width: 768px) {
    .nav {
        width: 60px;
    }
}

@media only screen and (max-width: 1024px) {
    .carousel-cell {
        width: 20%; 
    }
}

@media only screen and (max-width: 768px) {
    .carousel-cell {
        width: 30%; 
    }
}

@media only screen and (max-width: 480px) {
    .carousel-cell {
        width: 40%; 
    }

    .nav {
        width: 40px; 
    }

    .heading {
        font-size: 16px; 
    }
}

@media only screen and (max-width: 768px) {
    .nav {
        width: 60px; 
    }
}

@media only screen and (max-width: 1024px) {
    .carousel-cell {
        width: 20%; 
    }
}

@media only screen and (max-width: 768px) {
    .carousel-cell {
        width: 30%; 
    }
}

@media only screen and (max-width: 480px) {
    .carousel-cell {
        width: 40%; 
    }

    .nav {
        width: 40px; 
    }

    .heading {
        font-size: 16px; 
    }

    .content h3 {
        font-size: 14px; 
    }

    .content a {
        font-size: 12px; 
    }

    .content p {
        font-size: 12px;
    }
}
@media screen and (max-width: 360px) {
    .footer {
        padding: 10px;
        margin-left: 70px; /* Adjusted margin-left */
        text-align: center;
        align-items: center;
    }

    #con {
        margin-left: 7rem;
    }

    .carousel-cell {
        width: 50%;
    }

    .nav {
        width: 30px;
    }

    .heading {
        font-size: 14px;
    }

    .content h3 {
        font-size: 12px;
    }

    .content a {
        font-size: 10px;
    }

    .content p {
        font-size: 10px;
    }
}
@media screen and (max-width: 768px) {
    ul li {
        font-size: 14px; 
    }

    ul li p {
        font-size: 10px;
    }

    .nav {
        width: 60px;
    }

    .nav:hover {
        width: 300px; 
    }
}


@media screen and (max-width: 480px) {
    ul li {
        font-size: 12px; 
    }

    ul li p {
        font-size: 8px; 
    }

    .nav {
        width: 40px; 
    }

    .nav:hover {
        width: 200px; 
    }
}
@media screen and (max-width: 360px) {
    ul li {
        font-size: 10px; 
    }

    ul li p {
        font-size: 6px; 
    }

    .nav {
        width: 30px;
    }

    .nav:hover {
        width: 150px; 
    }

}