@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    overflow: auto; /* Hide scroll bars */
    background-color: black;
    
        font-family: 'Inter', sans-serif;
    
}

.header {
    width: 100%;
    height: 100vh;

}
a{
    text-decoration: none;
    color: white;
}
.nav {
    width: 80px;
    height: 100%;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    transition: width 0.8s;
    z-index: 3;
    color: white;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
}

.nav::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.nav-links {
    list-style: none;
    padding: 0 15px;
    margin-top: 120px;
}

ul li {
    padding: 20px 0px;
    opacity: 0.7;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li p {
    white-space: nowrap;
    display: none;
    font-size: 12px;
    margin-left: 15px;
    
}

.imglogo1{
  
    width: 90px;
    position: fixed;
    height: 150px;
    position: absolute;
    z-index: 4;
    padding-top: 40px;

    
}
.nav:hover {
    width: 500px;
    opacity: 1;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.nav:hover ul li p {
    display: block;
    fill: white;
    font-weight: bolder;
    font-size: 17px;
}

.nav:hover ul li {
    justify-content: flex-start;
    fill:white;
}
svg {
    transition: 1s;
    width: 20px;
    margin-bottom: -5px;
    
}

.nav-link:hover {
    opacity: 1;
    transform: scale(1.1);
    margin-left: 30px;
    fill: white;
}
a{
    text-decoration: none;
    color: white;
}
svg:hover{
    fill: white;
}

.carousel-container {
    position: relative;
    top: 0; 
    width: 100%;
    height: 100vh;
}

.slides {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
    
    height: 100vh;
    width: 100%;
}
.slides > div {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    height: 100vh;
    top: 0;
    /* object-fit: cover; */
    scroll-snap-align: start;
    scroll-behavior: smooth;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.imglogo1{
  
    width: 90px;
    position: fixed;
    height: 150px;
    position: absolute;
    z-index: 4;
    padding-top: 40px;

    
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    background: none;
    border: none;
    cursor: pointer;
}

.carousel-control.prev {
    padding-left: 120px;
}

.carousel-control.next {
    right: 10px;
}

.slides .bodyvid {
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover; 
    top: 0;
    align-items: center;
    justify-content: center;
    
    
}
.bodyvid .vid{
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 0;
}
.vid .image{
    position: absolute;
    top: 130px;
    left: 150px;
    width: 30%;
    height: 70%;
    object-fit: cover;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.vid .image img{
    width: 90%;
}
.bodyvid video {
    
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    z-index: 0;
   
}

.network {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-left: 9rem;
    margin-top: 20px;

  
}
.disney{
    width: 195px;
    height: 115px;
    overflow: hidden;
    border-radius: 4%;
    overflow: hidden;
    transition: transform 0.7s ease-in-out;
    
   

}

.disney:hover{
    transform: scale(1.3);
}


video{
    width: 100%;
    height: 100%;
    margin-left: 6px;
    border: none;
    border-radius: 6%;
   
}
 video:hover{
 opacity: 1;
 }


.vid .image button{
    width: 85%;
    height: 23%;
    background: hsla(0,0%,100%,0.3);;
    border-radius: 10px;
    border: none;
    color: White;
    font-weight: bold;
   font-size: 1.2rem;   
   transition:0.5s ;
   text-align: center;
   padding-top: 17px;
   padding-bottom: 17px;
   margin-right: 15px;
}
.vid .image button:hover{
    transform: scale(1.2);
    cursor: pointer;

}
.vid .image p{
    font-size: 16px;
    
    color: #ffffffD6;
    opacity: 0.8;
    line-height: 1.7;
    
}
.vid .image .p2{
    font-size: 14px;
    font-weight: 700;
    padding-top: 20px;
    opacity: 0.8;
    margin-right: 12.9rem;
    margin-bottom: 10px;
}

.midsec{
    width: 100%;
    height: 70%;
    z-index: 1;
    padding-left: 4.5rem;
    margin-top: 30px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    
    
}

  .carousel-cell {
    width: 12%;
    height: auto;
    margin-right: 20px;
    display: flex;
    border-radius: 5px;
    counter-increment: carousel-cell;
    border-radius: 5px;
    justify-content: space-between;
   

  }
  .midsec .carousel-cell .gridpic{
    width: 100%;
    height: auto;
    display: flex;
    object-fit: cover;

    z-index: 1;
  }
.gridpic img{
   
        width: 100%;
        height: 100%;
        object-fit: cover;
    
  }
  .gridpic{
  position: relative;
  min-width: 150px;
  width: 150px;
  height: 200;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px;
  transition: 0.5s;
  }
  .gridpic:hover {
    transform: scale(1.1);
  }
  
  .gridpic:hover .card-body {
    opacity: 1;
  }
  .flickity-button {
    background: transparent;
    box-shadow: 10px 100px 100px 50px rgba(8, 8, 8, 0.925);
    opacity: 0;
    transition: 0.5s;
  }
  .flickity-button:hover{
    opacity: 1;

  }
  /* big previous & next buttons */
  .flickity-prev-next-button {
    width: 100px;
    height: 100px;
  }
  /* icon color */
  .flickity-button-icon {
    fill: white;
  }
  /* hide disabled button */
  .flickity-button:disabled {
    display: none;
  }

   .card-body {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(70, 67, 67, 0.505), #4c4c4e8f 70%);
    padding: 10px;
    transition: 0.5s;

  }
  .name {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 60%;
  }
  .des {
    color: #fff;
    opacity: 0.8;
    margin: 5px 0;
    font-weight: 500;
    font-size: 12px;
  }
  .watchlist-btn {
    position: relative;
    width: 100%;
    text-transform: capitalize;
    background: none;
    border: none;
    font-weight: 500;
    text-align: right;
    color: rgba(255, 255, 255, 0.692);
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px 5px;
    transition: 0.4s;
    
  }
  .watchlist-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    height: 35px;
    width: 35px;
    background-image: url(images/add.png);
    background-size: cover;
    transform: scale(0.4);
  }
  
  .watchlist-btn:hover {
    color: #fff;
    transform: scale(1);
    background: rgba(255, 255, 255, 0.499);
  } 
  .carousel-cell:hover video { 
    display: inline-block;
}

.carousel-cell video {
    display: none;
}

.carousel-cell .gridpic {
    position: relative;
}

.carousel-cell .vidoeo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.vidoeo source{
    object-fit: cover;
    overflow: hidden;
}

.carousel-cell .vidoeo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    padding-top: 40px;
    margin-right: 80px;
    color: white;
    line-height: 40px;
    padding-left: 100px;
   
    
}

.content{
    margin-bottom: 20px;
 
}

.contain{
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}
.content h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 600;
    cursor: default;
}
.content a{
    font-size: 15px;
    font-weight: bolder;
    text-decoration: none;
    color: gray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.content p{
    color: gray;
    cursor: default;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.heading{
    width: 100%;
    height: 40px;
    
    color: white;
    padding-left: 40px;
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: 500;
}

.myapps{
    width: 20%;
    height: 10%;
    left:1000px;
    position: absolute;
    
    
   
   
}
.myapps .imgs1{
    height:35px;
    
}
